/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/



body {
    
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;  
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    min-height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;  
}


.tittle {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(247, 175, 175);
    font-size: 100px;
    font-weight: lighter;
}


.input-container {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
    outline: none;
}


.task-list {
    margin-bottom: 20px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    position: relative;
}

.task-item:hover .delete-btn {
    display: inline-block;  
}

.delete-btn {
    display: none;  
    background-color: transparent;
    border: none;
    color: rgb(203, 198, 198);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-counter {
    text-align: left;
}

.delete-all-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
}




.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* .add-user-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

.add-user-modal-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.close-modal-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Borde redondeado */
    /* z-index: 1000; */
/* }

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-input {
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
 */

 

